<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="george87pl.boardgames">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PlayMoreGames"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="PlayMoreGames"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".AppProvider"
            android:authorities="george87pl.boardgames.provider"
            android:exported="false" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="george87pl.boardgames.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SzczegolyRozgrywki"
            android:label="@string/title_activity_szczegoly_rozgrywki"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="george87pl.boardgames.MainActivity" />
        </activity>
        <activity
            android:name="DodajRozgrywke"
            android:label="@string/title_activity_dodaj_rozgrywke"
            android:parentActivityName="george87pl.boardgames.KolekcjaGier"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="george87pl.boardgames.KolekcjaGier" />
        </activity>

        <activity
            android:name=".DodajGre"
            android:label="@string/title_activity_dodaj_gre"
            android:parentActivityName="george87pl.boardgames.KolekcjaGier"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="george87pl.boardgames.KolekcjaGier" />
        </activity>

        <activity
            android:name=".KolekcjaGier"
            android:label="@string/title_activity_gra"
            android:parentActivityName="george87pl.boardgames.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="george87pl.boardgames.MainActivity" />

        </activity>
    </application>

</manifest>